body{ 
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    text-decoration: none;
}
.container{
    margin:auto;
    overflow: hidden;
}
header{
    background: grey;
    color:#ffffff;
    padding-top:0%;
    min-height:auto;
}
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    float:left;
    margin-top:auto;
}
header li{
    float:left;
    display: inline;
    padding: 0 10px 0 10px;
}
h1, a{
    text-transform: uppercase;
    text-align:left ;
    text-decoration: none; 
}
a{
    color: grey;
    text-decoration: none;
    line-height: 1em;
}
.post h3, p{
    margin-left: 30px;
    color: gray;
}
h3{
    color: gray;
    text-align: left;
}