body{ 
    font:15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    text-decoration: none;
}
.container{
    margin:auto;
    overflow: hidden;
}
header a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    float:left;
    margin-top:auto;
}
header{
    background: grey;
    color:#ffffff;
    padding-top:0%;
    min-height:auto;
}